<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>美多商城-提交订单</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="app">
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到美多商城!</div>
        <div class="fr" id="login_status">
            <div class="login_btn fl">
                <a v-if="haveLogin">{{loginUser.userName}}</a>
                <span>|</span>
                <a v-if="haveLogin" v-on:click="logout">退出登录</a>
                <a href="login.html" v-else>登录</a>
                <span>|</span>
                <a href="register.html">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="user_center_info.html">用户中心</a>
                <span>|</span>
                <a href="cart.html">我的购物车</a>
                <span>|</span>
                <a href="user_center_order.html">我的订单</a>
            </div>
        </div>
    </div>
</div>

<div class="search_bar clearfix">
    <a href="index.html" class="logo fl"><img src="../images/logo.png"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;提交订单</div>
    <div class="search_con fr  mt40">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
</div>

<h3 class="common_title">确认收货地址</h3>

<div class="common_list_con clearfix" id="get_site">
    <dl>
        <dt>寄送到：</dt>
        <dd v-for="(address,index) in addressItems" v-on:click="nowAddressIndex = index">
            <input type="radio" name="get_site" v-bind:value="index" v-model="nowAddressIndex">
            {{address.province}} {{address.city}} {{address.county}} {{address.fullAddress}} （{{address.receiveUserName}} 收） {{address.receiveUserPhone}}
        </dd>
    </dl>
    <a href="user_center_site.html" class="edit_site">编辑收货地址</a>
</div>

<h3 class="common_title">商品列表</h3>
<div id="goods_list">
    <div class="common_list_con clearfix">
        <ul class="goods_list_th clearfix">
            <li class="col01">商品名称</li>
            <li class="col03">商品价格</li>
            <li class="col04">数量</li>
            <li class="col05">小计</li>
        </ul>
        <ul class="goods_list_td clearfix" v-for="(order,index) in orderCarts">
            <li class="col01">{{index+1}}</li>
            <li class="col02"><img v-bind:src="'http://localhost:8080/YouMall/'+order.product.productImage"></li>
            <li class="col03">{{order.product.productName}}</li>
            <li class="col05">{{order.product.productPrice}}元</li>
            <li class="col06">{{order.productNumber}}</li>
            <li class="col07">{{order.product.productPrice*order.productNumber}}元</li>
        </ul>
    </div>

    <h3 class="common_title">总金额结算</h3>

    <div class="common_list_con clearfix">
        <div class="settle_con">
            <div class="total_goods_count">共<em>{{orderCarts.length}}</em>件商品，总金额<b>{{totalMoney}}元</b></div>
            <div class="total_pay">应付款：<b>{{totalMoney}}元</b></div>
        </div>
    </div>

    <div class="order_submit clearfix">
        <a href="javascript:" id="order_btn" v-on:click="submitOrder">提交订单</a>
    </div>
</div>
</div>

<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京美多商业股份有限公司 All Rights Reserved</p>
    <p>电话：010-****888 京ICP备*******8号</p>
</div>
</body>
<script type="text/javascript" src="../js/axios.min.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../js/place_order.js"></script>
</html>